<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <h1>Erhalte Wissenswertes und regelmäßige Updates</h1>
    <form action="https://marcelkrueger.us3.list-manage.com/subscribe/post?u=5a4b7b6e8e259b8d2f9dc4224&amp;id=492085b271" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group form-group row">
                <label for="mce-EMAIL" class="col-sm-4 col-form-label">E-Mail Adresse<span class="asterisk">*</span></label>
                <div class="col-sm-8">
                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                </div>
            </div>
            <div class="mc-field-group form-group row">
                <label for="mce-FNAME" class="col-sm-4 col-form-label">Vorname<span class="asterisk">*</span></label>
                <div class="col-sm-8">
                    <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME">
                </div>
            </div>
            <div id="newsletterform-hideuntilactive">
                <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group form-check">
                    <fieldset class="mc_fieldset gdprRequired mc-field-group form-group" name="interestgroup_field">
                        <input type="checkbox" id="gdpr_29333" name="gdpr[29333]" value="Y" class="av-checkbox gdpr form-check-input">
                        <label class="checkbox subfield form-check-label" for="gdpr_29333">
                            Ich möchte von <a href="{{ path('impressum') }}">Scaper's Helper (Marcel Krüger)</a>
                            maximal ein bis zwei E-Mails pro Woche zu allgemeinen Themen bzgl. Aquascaping sowie
                            Themen rund um das Produkt und das Unternehmen <em>Scaper's Helper</em> erhalten.
                        </label>
                    </fieldset>
                    <p class="small text-muted">
                        Du kannst dich jederzeit abmelden, indem du auf den Link in der Fußzeile
                        unserer E-Mails klickst. Informationen zu unseren Datenschutzpraktiken finden du <a href="{{ path('datenschutz') }}">hier</a>.
                    </p>
                    <p class="small text-muted">Wir nutzen Mailchimp als unsere Marketingplattform.
                        Wenn du unten klickst, um dich anzumelden, bestätigst du, dass deine Daten zur Verarbeitung an
                        Mailchimp weitergeleitet werden.
                        <a href="https://mailchimp.com/legal/" target="_blank">Mehr über Mailchimpss Datenschutz hier.</a>
                    </p>
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a4b7b6e8e259b8d2f9dc4224_492085b271" tabindex="-1" value=""></div>
                <div class="clear text-center"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary" onclick="fbq('track', 'Lead')">Newsletter abonieren</button></div>
            </div>
        </div>
    </form>
    </div>

    <!--End mc_embed_signup-->

<script>
newsletter_hiddeninfo = document.getElementById('newsletterform-hideuntilactive')
newsletter_hiddeninfo.style.display = 'none';

function testFu() {
    newsletter_hiddeninfo.style.display = '';
}

el = document.querySelector('input[name=EMAIL]');
el.addEventListener('focus', testFu)

el = document.querySelector('input[name=FNAME]');
el.addEventListener('focus', testFu)
</script>