<div class="row">
    <div class="col text-center social-link-container">
        <ul class="list-unstyled">
            <li><a href="https://facebook.com/groups/ScapersHelper"><span class="fab fa-facebook-square"></span> Zur Facebook-Gruppe</a></li>
            <li><a href="https://forum.scapershelper.de"><span class="far fa-comments"></span> Zum Forum</a></li>
            <!-- <li><a href=""><span class="fab fa-twitter-square"></span> Auf Twitter folgen</a></li> -->
        </ul>
    </div>
</div>