$primary: #6FAB4B;
$secondary: #B34F66;
$color-third: #39826A;
$body-bg: #585958;
$body-color: #efefef;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-pro/scss/fontawesome";
@import "~@fortawesome/fontawesome-pro/scss/regular";
@import "~@fortawesome/fontawesome-pro/scss/brands";

body {
    color: #cfcfcf;;
    background: linear-gradient( rgba(60, 60, 60, 0.95), rgba(60, 60, 60, 0.95) ), url("/img/Peter_Kirwan_Mountainscape.jpg");
    background-repeat: no-repeat;
    background-position: center 100%; /* Center the image */
    background-size: cover;
}

a {
    color: $color-third;
}

a:hover {

    color: lighten($color-third, 10%);
}

.header {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.slogan-container {
    margin-bottom: 2rem;
}

.slogan-container h1 {
    text-align: center;
    font-size: 1.5rem;
    // color: $primary;
}

h1.teaser-text {
    font-weight: bold;
    font-size: 1.1rem;
}

.topic-text {
    font-size: 1.8rem;
    color: $primary;
}

.feature-icon {
    color: $primary;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.feature-highlight {
    color: $secondary;
}

.feature-row {
    margin-bottom: 2rem;
}

.feature-icon-container {
    text-align: center;
}

.social-link-container {
    color: $color-third;
    font-size: 1.5rem;

    // margin-top: 2rem;
    margin-bottom: 2rem;
}

#mc_embed_signup {
    margin-bottom: 2rem;
}

#mc_embed_signup h1 {
    font-size: 1.2rem;
}

.footer {
    text-align: center;
}


.form-control {
    background-color:$body-bg;
    color: $body-color;
}
.form-control:focus {
    background-color: lighten($body-bg, 5%);
    color: $body-color;
}