<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {# Generelle Tags #}
        <meta name="description" content="Deine Aquascape-Steuerung - Sei Teil der Entwicklung">
        <meta name="robots" content="index,follow">
        <meta name="theme-color" content="#6FAB4B"/>
        <link rel="canonical" href="{{ app.request.uri }}">

        {# Facebook #}
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:image" content="{{ absolute_url('img/opengraph.png') }}">
        <meta property="og:description" content="Deine Aquascape-Steuerung - Sei Teil der Entwicklung">

        <title>{% block title %}Scaper's Helper - Deine Aquascape-Steuerung{% endblock %} | Scaper's Helper</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '759367187829624');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=759367187829624&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code --> #}
    </head>
    <body>
        <div class="container">
            <div class="row header">
                <div class="mx-auto col-sm-12 col-md-4">
                    <a href="{{ url('index') }}"><img class="img-fluid" src="{{ asset('img/logo.png') }}" alt="Symfony!"/></a>
                </div>
            </div>

            {% block body %}{% endblock %}

            <div class="footer">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{{ path('impressum') }}">Impressum<a></li>
                    <li class="list-inline-item"><a href="{{ path('datenschutz') }}">Datenschutz<a></li>
                    <li class="list-inline-item"><a href="https://commons.wikimedia.org/wiki/File:Peter_Kirwan_Mountainscape.jpg">Hintergrundbild: Peter Kirwan, CC-BY-SA 3.0<a></li>
                <ul>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
