{% extends 'base.html.twig' %}

{% block body %}
    <div class="slogan-container">
        <h1>Keine Lust auf tägliches, manuelles Düngen? Schlechtes Pflanzenwachstum? Zu viele Algen?</h1>
        <h1>Sei dabei!</h1>
        <h1>
            Wir entwickeln gemeinsam die ideale Steuerung für dich und dein Scape.<br>
            Düngen, dimmen, schalten und <a href="#features">vieles mehr</a>.
        </h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include('partials/newsletter_form.html') %}
        </div>
        <div class="col-md-6">
            {% include('partials/social.html') %}
        </div>
    </div>

    <div class="row">
        <a name="features"></a>
        <div class="col-md-6">
            <div class="row feature-row">
                <div class="col-md-2 feature-icon-container">
                    <span class="far fa-tint feature-icon"></span>
                </div>
                <div class="col-md-10">
                    <h1 class="teaser-text">Perfektes Pflanzenwachstum</h1>
                    <h1 class="topic-text">Dosierung</h1>
                    <p>
                        Mit absoluter Genauigkeit und beliebig vielen Dosierungen am Tag
                        erreichst du perfektes Pflanzenwachstum.
                    </p>
                </div>
            </div>

            <div class="row feature-row">
                <div class="col-md-2 feature-icon-container">
                    <span class="far fa-exclamation-circle feature-icon"></span>
                </div>
                <div class="col-md-10">
                    <h1 class="teaser-text">Temperatur zu hoch/niedrig? Wartung fällig?</h1>
                    <h1 class="topic-text">Alarme</h1>
                    <p>
                        Alarme machen dich auf zu hohe oder niedrige Temperatur aufmerksam. Außerdem
                        kannst du an regelmäßig anstehende Termine wie z.B. wöchentliche Wartung erinnert werden.
                    </p>
                </div>
            </div>

            <div class="row feature-row">
                <div class="col-md-2 feature-icon-container">
                    <span class="far fa-smile-beam feature-icon"></span>
                </div>
                <div class="col-md-10">
                    <h1 class="teaser-text">Moderne, übersichtliche Oberflächen</h1>
                    <h1 class="topic-text">Einfache Bedienbarkeit</h1>
                    <p>
                        Eine über das Smartphone oder PC erreichbare Weboberfläche lässt dich
                        den Scaper's Helper spielend leicht konfigurieren.
                    </p>
                </div>
            </div>

            <div class="row feature-row">
                <div class="col-md-2 feature-icon-container">
                    <span class="far fa-microchip feature-icon"></span>
                </div>
                <div class="col-md-10">
                    <h1 class="teaser-text">Deine Software- und Hardware-Erweiterungen</h1>
                    <h1 class="topic-text">DIY-freundlich und offen</h1>
                    <p>
                        Auf Basis offener Software und dem Raspberry Pi ist der Scaper's Helper einfach erweiterbar.
                        Viele Anschlüsse sorgen für eigene Erweiterungsmöglichkeiten.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row feature-row">
                <div class="col-md-2 feature-icon-container">
                    <span class="far fa-lightbulb-on feature-icon"></span>
                </div>
                <div class="col-md-10">
                    <h1 class="teaser-text">Sonnenauf- und Untergang, Mondphasen etc.</h1>
                    <h1 class="topic-text">Dimmung von LED Leuchtbalken</h1>
                    <p>
                        Dimme LED Leuchten mit Sonnenauf- und Untergang, Mondlicht,
                        Gewitter- und Wolkensimulation.<br>
                        So erscheinen deine Pflanzen in perfektem Licht.
                    </p>
                </div>
            </div>

            <div class="row feature-row">
                <div class="col-md-2 feature-icon-container">
                    <span class="far fa-plug feature-icon"></span>
                </div>
                <div class="col-md-10">
                    <h1 class="teaser-text">Wartung vereinfachen und CO2 sparen</h1>
                    <h1 class="topic-text">Steckdosen schalten</h1>
                    <p>
                        Schalte Filter, Heizer und CO2 aus, wenn du dein Scape wartest. Spare CO2 mit
                        der Nachtabschaltung deiner Druckgas-Anlage.
                    </p>
                </div>
            </div>

            <div class="row feature-row">
                <div class="col-md-2 feature-icon-container">
                    <span class="far fa-microphone feature-icon"></span>
                </div>
                <div class="col-md-10">
                    <h1 class="teaser-text">Hände nass? Kein Problem!</h1>
                    <h1 class="topic-text">Voice-Assistant-Integration</h1>
                    <p>
                        Sind die Hände im Aquarium, kannst du den Scaper's Helper über Google Home oder
                        Alexa steuern.
                    </p>
                </div>
            </div>

            <div class="row feature-row">
                <div class="col-md-2 feature-icon-container">
                    <span class="far fa-question feature-icon feature-highlight"></span>
                </div>
                <div class="col-md-10">
                    <h1 class="teaser-text">Bringe deine Idee ein!</h1>
                    <h1 class="topic-text feature-highlight">Deine Idee</h1>
                    <p>
                        Der Scaper's Helper ist ein Community-getriebenes Projekt. Bringe deine Ideen mit
                        ein für deine perfekte Aquascape-Steuerung.<br>
                        <a href="https://facebook.com/groups/ScapersHelper"><span class="fab fa-facebook-square"></span> Verfolge aktuelle Diskussionen oder diskutiere mit.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include('partials/social.html') %}

{% endblock %}
